# MongoDB Configuration
MONGODB_URI=mongodb+srv://akram0031_db_user:NQLlkSTM3yq9bLuU@cluster0.8amidmz.mongodb.net/?retryWrites=true&w=majority

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# JWT Secret
JWT_SECRET=your_jwt_secret_key

# Fast2SMS Configuration
FAST2SMS_API_KEY=Syxab3WMpEk15NHg20feqmDCwsYoUQcRu9XjBJFZKGv8lnzrA6eRh5jqM17wf6dBNATr2IYvy30aHQ9t
FAST2SMS_SENDER_ID=SCHL

# Server Port
PORT=5000
NODE_ENV=development
